html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.esri-view-height-less-than-medium .esri-popup__main-container {
    max-height: unset;
}

.addDonor > h2 {
    margin: 0 0 1rem 0;
}

.addDonor > label {
    float: left;
    width: 50%;
    padding: 0 0 0 0.25rem;
}

.addDonor > label:nth-child(2n) {
    padding: 0 0.25rem 0 0;
    clear: both;
}

.addDonor > label > .fieldName {
    display: block;
    margin: 0.5rem 0 0 0;
}

.addDonor > label > input {
    display: block;
    width: 100%;
}

.addDonor > .buttonContainer {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0 0;
    clear: both;
}

.addDonor > .buttonContainer > button {
    display: block;
    width: 100%;
}

.addDonor > .message {
    width: 100%;
    color: green;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0.5rem 0 0 0;
}

.addDonor > .message a {
    color: steelblue;
}

.addDonor > .message p {
    margin: 0;
    font-size: inherit;
}

.addDonor > label > .error {
    display: block;
    width: 100%;
    color: red;
}